@model Users
@using Microsoft.AspNetCore.Identity
@using UnblockMe.Services
@using AspNetCoreHero.ToastNotification.Abstractions;
@inject SignInManager<Users> SignInManager
@inject UserManager<Users> UserManager
@inject IUserService _userService
@inject ICarsService _carsService
@inject INotyfService _notyf
<p>@Model.FirstName - @Model.LastName</p>
<p>@Model.PhoneNumber</p>
<p>@Model.Email</p>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery-validation/dist/additional-methods.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<div class="container">
    @if (SignInManager.IsSignedIn(User))
    {
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#UnblockMe">
            Unblock me!
        </button>
        <div class="modal fade" id="UnblockMe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Unblock Me!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Send</button>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#BlockedYou">
            I have blocked you!
        </button>
        <div class="modal fade" id="BlockedYou" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">I have blocked you!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form method="post" id="form1">
                            <p>Contact Method:</p>
                            <label for="ContactSMS">SMS</label>
                            <input type="radio" name="Contact" value="SMS" id="Contact" checked />
                            <label for="ContactEmail">Email</label>
                            <input type="radio" name="Contact" value="Email" id="Contact" />
                            <br />
                            <label for="myplates">My Cars:</label>
                            <select name="myplates" id="myplates" required>
                                @foreach (var element in _userService.GetCarsListOfUser(_userService.GetLoggedInUser()))
                                {
                                    <option value="@element.LicensePlate">@element.LicensePlate</option>
                                }


                            </select>
                            <label for="yourplates">@(Model.FirstName)'s Cars</label>
                            <select name="yourplates" id="yourplates" required>
                                @foreach (var element in _userService.GetCarsListOfUser(Model))
                                {
                                    <option value="@element.LicensePlate">@element.LicensePlate</option>
                                }
                            </select>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="button">Send</button>

                                
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    }
</div>
<script>
    $("#form1").submit(function func(event) {
        event.preventDefault();
        $.ajax({
            url: "BlockedYouAction",
            data: {
                Contact: $("#Contact").val(),
                MyPlate: $("#myplates").val(),
                YourPlate: $("#yourplates").val()
            },
            success: function () {
                $("#BlockedYou").modal('hide');
            }
        });


    });

</script>
