@model (Users, List<Cars>, Users, List<Cars>, int)
@using Microsoft.AspNetCore.Identity
@inject SignInManager<Users> SignInManager


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
<link href="~/css/Profile.css" rel="stylesheet" />
<link href="~/css/rating.css" rel="stylesheet" />
<div class="profilecontainer">
    <div align="center" class="mainInfo">
        <p><img id="profilePicture" style="width:350px;height:350px; object-fit:cover" src="/Profile/@Model.Item3.Id/Photo" /></p>
        <p>@Model.Item3.FirstName  @Model.Item3.LastName</p>
        <p>@Model.Item3.PhoneNumber <img class="phone" src="https://img.icons8.com/office/16/000000/phone.png" /></p>
        <p>@Model.Item3.Email <img class="email" src="https://img.icons8.com/ultraviolet/40/000000/new-post.png" /></p>

    </div>

    <div class="ratingFormContainer">
        <form class="rating expandable" data-toggle="modal" data-target="#RateUser">
            <div class="inputsContainer noHover">
                @for (int i = 1; i <= 10; i++)
                {

                    if (i == 10 - Model.Item5 + 1)
                    {
                        <input class="radio" type="radio" id=@("star"+i) name="rating" value=@i.ToString() disabled checked />

                    }
                    else
                    {

                        <input class="radio" type="radio" id=@("star"+i) name="rating" value=@i.ToString() disabled />
                    }
                    if (i % 2 == 1)
                    {
                        <label class="full" for=@("star"+i)></label>
                    }
                    else
                    {
                        <label class="half" for=@("star"+i)></label>
                    }

                }
            </div>

        </form>
        <div class="showRating">
            <div class="showRatingContainer">
                <a data-toggle="modal" data-target="#ratings">(@Model.Item3.RatesGot.Count())</a>
            </div>

        </div>
    </div>


</div>
<div class="container">
    @if (SignInManager.IsSignedIn(User))
    {

        <div class="buttons" align="center">

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#UnblockMe">
                Unblock me!
            </button>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#BlockedYou">
                I have blocked you!
            </button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#unblockUser">
                Unblock car
            </button>
        </div>


        <div class="modal custom fade" id="UnblockMe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Unblock Me!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="form2">
                            <p>Contact Method:</p>
                            <label for="ContactSMS">SMS</label>
                            <input type="radio" name="Contact" value="SMS" id="Contact" checked />
                            <label for="ContactEmail">Email</label>
                            <input type="radio" name="Contact" value="Email" id="Contact" />
                            <br />
                            <label for="myplates">My Cars:</label>
                            <select name="myplates" id="myplates1" required>
                                @foreach (var element in Model.Item2)
                                {
                                    <option value="@element.LicensePlate">@element.LicensePlate</option>
                                }


                            </select>
                            <label for="yourplates">@(Model.Item3.FirstName)'s Cars</label>
                            <select name="yourplates" id="yourplates1" required>
                                @foreach (var element in Model.Item4)
                                {
                                    <option value="@element.LicensePlate">@element.LicensePlate</option>
                                }
                            </select>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="button">Send</button>


                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal custom fade" id="BlockedYou" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">I have blocked you!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <form method="post" id="form1">
                            <p>Contact Method:</p>
                            <label for="ContactSMS">SMS</label>
                            <input type="radio" name="Contact" value="SMS" id="Contact" checked />
                            <label for="ContactEmail">Email</label>
                            <input type="radio" name="Contact" value="Email" id="Contact" />
                            <br />
                            <label for="myplates">My Cars:</label>
                            <select name="myplates" id="myplates2" required>
                                @foreach (var element in Model.Item2)
                                {
                                    <option value="@element.LicensePlate">@element.LicensePlate</option>
                                }


                            </select>
                            <label for="yourplates">@(Model.Item3.FirstName)'s Cars</label>
                            <select name="yourplates" id="yourplates2" required>
                                @foreach (var element in Model.Item4)
                                {
                                    <option value="@element.LicensePlate">@element.LicensePlate</option>
                                }
                            </select>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="button">Send</button>


                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal fade" id="unblockUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Unblock user's cars</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                        <label for="yourplates">@(Model.Item3.FirstName)'s Cars</label>
                        <select name="yourplates" id="yourplates3" required>
                            @foreach (var element in Model.Item4)
                            {
                                <option value="@element.LicensePlate">@element.LicensePlate</option>
                            }
                        </select>
                        <button class="btn btn-secondary" id="unblockButton">Unblock!</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>



    }
</div>
<div class="modal custom1 fade" id="RateUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rate This User!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @if (SignInManager.IsSignedIn(User))
                {
                    <form class="rating" id="rating">
                        <div class="inputsContainer">

                            @for (int i = 1; i <= 10; i++)
                            {

                                <input type="radio" id=@("star"+i+i) name="Rating" value=@i.ToString() />
                                if (i % 2 == 1)
                                {
                                    <label class="full" for=@("star"+i+i)></label>
                                }
                                else
                                {

                                    <label class="half" for=@("star"+i+i)></label>
                                }
                            }



                        </div>


                    </form>

                    <textarea class="form-control" placeholder="Enter a message..." id="ratemessage" form="rating" maxlength="200"></textarea>



                }
                else
                {
                    <p>You must sign it first!!!!</p>
                }



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="rating" class="btn btn-primary" id="button">Send</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ratings" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ratings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @foreach (var element in Model.Item3.RatesGot)
                {
                    <div class="ratingBlock">
                        <div class="ratingBlock-imgContainer">
                            <img id="profilePicture" style="width:60px;height:60px; object-fit:cover; border-radius:30px" src="/Profile/@element.rater_id/Photo">
                        </div>
                        <div class="rightOfImage">
                            <div class="profileInfo">
                                <p>@element.Rater.Email.Substring(0, @element.Rater.Email.IndexOf('@'))</p>
                                <form class="rating shrinked">
                                    <div class="inputsContainer noHover">
                                        @for (int i = 1; i <= 10; i++)
                                        {

                                            if (i == 10 - (element.rating_value * 2) + 1)
                                            {
                                                <input class="radio" type="radio" id=@("star"+i) name="rating" value=@i.ToString() disabled checked />

                                            }
                                            else
                                            {

                                                <input class="radio" type="radio" id=@("star"+i) name="rating" value=@i.ToString() disabled />
                                            }
                                            if (i % 2 == 1)
                                            {
                                                <label class="full" for=@("star"+i)></label>
                                            }
                                            else
                                            {
                                                <label class="half" for=@("star"+i)></label>
                                            }

                                        }
                                    </div>

                                </form>
                            </div>
                            <span class="comm">@element.rating_message</span>

                        </div>
                    </div>
                    <hr />
                }

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/profile.js"></script>
<script>
    $("#rating").submit(function rate(event) {
    event.preventDefault();
    var radioValue = 10 - parseInt($("input[name='Rating']:checked").val()) + 1;
    var rateMessage = $("#ratemessage").val();

    $.ajax({
        url: "RateAction/@Model.Item3.Id",
        data: {
            rating: radioValue,
            ratingMessage: rateMessage,

        },
        success: function (status) {
            $("#BlockedYou").modal('hide');
            location.reload();
            toastNotifySuccess(status, 1000);

        },
        error: function (error) {

            $("#BlockedYou").modal('hide');
            toastNotifyError(error.responseText, 3000);
        }

    });
});
</script>

